@import "tailwindcss";

:root {
  --color-pearl: 40 18% 97%;
  --color-graphite: 0 0% 10%;
  --color-onyx: 213 11% 16%;
  --color-slate: 216 5% 19;
  --color-amber: 37 100% 76%;
  --color-mist: 216 4% 51%;
  --color-abyss: 214 58.3% 9.4%;
  --color-shadow: 221 12% 14%;
  --color-silver: 213 12% 70%;
  --color-cloud: 222 19% 86%;
  --color-obsidian: 0 0% 4%;
  --color-snow: 0 0% 100%;
  --color-storm: 214 16.1% 28%;
  --color-iron: 216 4% 22%;
  --color-sky: 214 48.9% 73.9%;
  --color-flame: 22 100% 51.6%;
  --color-violet: 263 70% 50.4%;
  --color-vapor: 228 21.74% 95.49%;
  --scroll-size: 6px;
  --color-lavender: 255 92% 76%;
  --radius: 0.5rem;
  --primary: var(--color-snow);
  --primary-hover: var(--color-pearl);
  --accent: var(--color-flame);
  --background-hover: var(--color-shadow);
  --secondary-hover: var(--color-silver);
  --accent-hover: var(--color-amber);
  --background: var(--color-obsidian);
  --secondary: var(--color-mist);
  --foreground: var(--color-cloud);
  --foreground-hover: var(--color-snow);
  --input: var(--color-mist);
  --card: var(--color-graphite);
  --radius: 0.5rem;
  --scroll-track-color: var(--color-graphite);
  --border: var(--color-shadow);
  --scroll-thumb-color: var(--color-obsidian);
}
@theme inline {
  --color-secondary: hsl(var(--secondary));
  --color-primary: hsl(var(--primary));
  --color-background: hsl(var(--background));
  --color-accent: hsl(var(--accent));
  --color-foreground: hsl(var(--foreground));
  --font-mono: var(--font-geist-mono);
  --font-sans: var(--font-geist-sans);
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  overscroll-behavior-y: none;
}

.geist-mono {
  font-family: var(--font-geist-mono);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: hsl(var(--secondary));
}

@custom-variant hover (&:hover);
